#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 100rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.bg {
  position: absolute;
  top: 12.5rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 70vh;
}

.introContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideLeft 1.5s ease 0s 1 normal forwards;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}

.introName {
  color: #afe8bc;
}

.introPara {
  font-size: 1rem;
  font-weight: 300;
  max-width: 50vw;
  margin: 0.75rem 0;
}

.btn {
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 3rem;
  border: none;
  background: #afe8bc;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn:active {
  transform: translateY(-2px);
}

.btn:hover {
  color: rgb(88, 88, 88);
}

.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  .bg {
    top: 0;
    height: 40vh;
    display: flex;
    margin: 0 auto;
  }

  .introContent {
    font-size: 2rem;
  }

  .hello {
    font-size: 1.5rem;
  }

  .introPara {
    font-size: 0.8rem;
    max-width: 100%;
  }

  .btn {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

/* Animations */

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
